*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* background: url('image_task1.jpg'); */
}

html{
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

header{
    /* position: fixed; */
    top: 0;
    width: 100%;
    height: 366vh;
    font-family: sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)), url('image_task1.jpg');
    background-size: cover;
}

.navbar{
    width: 100%;
    height: 100px;
    position: sticky;
    z-index: 1000;
    top: 0;
    background: scroll;
    /* background-color:aqua; */
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

.logo{
    letter-spacing: 2px;
    font-size: 2em;
}

.menu a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
    color: white;
}

.menu a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}

.menu a.active{
    border-bottom: 2px solid indianred;
    transition: 0.4s linear;
}

.menu a:hover::before{
    width: 90%;
}

.register a:hover{
    background: transparent;
    border: 2px solid indianred;
}

.register a{
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    color: white;
    background-color: indianred;
    border-radius: 10px;
}

/* #home{
    max-width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
    color: white;
} */
#home{
    text-align: center;
}

#home span{
    top: 15%;
    letter-spacing: 5px;
}

#home h1{
    font-size: 3.5em;
}

#home a{
    text-decoration: none;
    background-color: indianred;
    color: white;
    padding: 10px 20px;
    letter-spacing: 5px;
}

#home a:hover{
    background: transparent;
    border: 2px solid indianred;
}

section{
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

